.a11y {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.productImg {
  width: inherit;
  object-fit: fill;
}

main {
  display: block;
  position: relative;
  width: 328px;
}

main h2 {
  color: #333333;
  font-weight: 700;
  font-size: 18px;
}

main h2:last-child {
  margin-top: -12px;
}

.price {
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  align-items: center;
  gap: 6px;
  margin-top: -20px;
}

.price:after {
  content: '';
  border: 1px solid #dee0e3;
  width: 100%;
  position: absolute;
  margin-top: 65px;
}

.sale {
  color: #6b90dc;
  font-size: 24px;
  font-weight: 700;
  position: relative;
  left: -125px;
}

.originalprice {
  color: #999999;
  font-size: 16px;
  font-weight: 700;
  text-decoration: line-through;
}

.saleprice {
  color: #333333;
  font-size: 22px;
  font-weight: 400;
}

.info {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: left;
  gap: 6px;
  font-size: 14px;
  padding-top: 10px;
  color: #333333;
}

.info:after {
  content: '';
  border: 1px solid #dee0e3;
  width: 100%;
  position: absolute;
  margin-top: 95px;
}

.info span:nth-child(2) {
  font-weight: 700;
}

.info span:nth-child(3) {
  font-weight: 700;
  color: #6b90dc;
}

.info span:first-child:after {
  content: '|';
  padding-left: 6px;
  color: #dee0e3;
}

.description {
  color: #999999;
  font-size: 14px;
  font-weight: 400;
}
