.counter {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: 40px;
  position: relative;
  border: 1px solid lightgray;
  width: 102px;
  height: 34px;
}

.button {
  width: 34px;
  height: 34px;
  background: #f1f2f4;
  border: none;
}

.count {
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 총 상품 금액 */
.total {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 13px;
}

.total:before {
  content: '';
  border: 1px solid #dee0e3;
  width: 100%;
  position: absolute;
  margin-top: -53px;
}

.totalPriceInfo {
  color: #333333;
  font-size: 14px;
  font-weight: 700;
  position: relative;
}

.totalDeploy {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 10px;
}

.totalCount {
  color: #999999;
  font-size: 14px;
  font-weight: 400;
}

.totalCount:after {
  content: '|';
  padding-left: 10px;
}

.totalPrice {
  color: #6b90dc;
  font-size: 22px;
  font-weight: 700;
}
